@charset "UTF-8";

/* Base
   Inherited a lot of base style from Skeleton
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    box-sizing: border-box;
}
html {
    font-size: 9px;
}
body {
    border-top: 5px solid #00C5FF;
    font-family: "Cardo", serif;
    font-size: 2.1em;
    line-height: 2.0em;
    color: #222;
    background: #F0EEEE;
}
.container {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}
a {
    color: #1EAEDB;
    text-decoration: none;
}
a:hover {
    color: #0FA0CE;
    text-decoration: underline;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
}
h1 {
    font-size: 3.75em;
    line-height: 1em;
    margin-bottom: 0.66666667em;
    margin-top: 0.33333333em;
}
h2 {
    font-size: 2.5625em;
    line-height: 1.073170732em;
    margin-top: 1.07317073em;
    margin-bottom: 0.53658537em;
}
h3 {
    font-size: 1.625em;
    line-height: 1.692307692em;
    margin-top: 0.84615385em;
    margin-bottom: 0.84615385em;
}
h4 {
    font-size: 1em;
    line-height: 1.375em;
    margin-top: 1.375em;
    margin-bottom: 1.375em;
}
p, ul, ol, pre, table, blockquote {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}
b, strong, em, small, code {
    line-height: 1;
}
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
}
sub {
    top: 0.4em;
}
article.post p {
    text-indent: 1.75em;
}
article header {
    text-align: center;
}
.header { 
    border-bottom: 1px solid #aaaaaa;
    margin-top: 1em;
}
.header h1 {
    color: #444444;
    font-style: italic;
}
.header h1::first-letter {
    margin-right: -9px;
}
article.post aside p {
    text-indent: 0;
    color: #999999;
    font-size: 0.6em;
    line-height: 1.8em;
    padding: 0.25em 1em 0.5em 1em;
}


/* List
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
    list-style: circle inside;
}
ol {
    list-style: decimal inside;
}
ol, ul {
    padding-left: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}
li {
    margin-bottom: 1rem;
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
pre {
    font-family: "Source Code Pro", monospace;
}
code {
    font-family: "Source Code Pro", monospace;
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    overflow: auto;
    background: #f1f1f1;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}
pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}

/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}
th:first-child,
td:first-child {
    padding-left: 0;
}
th:last-child,
td:last-child {
    padding-right: 0;
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo-bg {
    background: #00C5FF;
    width: 20em;
    height: 1.3em;
    margin-top: -3.8em;
    margin-bottom: 1em;
    margin-left: 2.5em;
    z-index: -1;
}
.row {
    clear: both;
}
.content {
    margin-top: 2em;
}
.content, aside {
    width: 100%;
}
aside {
    display: none;
    border-top: 1px solid #cccccc;
    background: #ECEAEA;
}
aside.meta {
    display: block;
    margin-bottom: 1em;
    font-size: 1.3em;
}


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 400px) {
    .container {
	width: 85%;
	padding: 0;
    }
}
@media (min-width: 550px) {
    .container {
	width: 80%;
    }
}
@media (min-width: 768px) 
and (orientation : landscape) {
    html {
	font-size: 10px;
    }
    .blog {
	margin-right: 25%;
	width: 75%;
    }
    .static {
	margin: 0 auto;
	width: 60%;
    }
    article.post > header {
    	margin-right: -30%;
    }
    aside.meta {
	margin-bottom: 0;
    }
    aside {
	display: block;
	position: relative;
	float: right;
	clear: left;
	left: 30%;
	width: 30%;
	margin-left: -25%;
	border-left: 1px solid #cccccc;
    }
    aside p {
	padding-top: 0.5rem;
	padding-left: 1.5rem;
	text-align: left;
    }
}
