body {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
    line-height: 1.9em;
    color: #fff;
    background: #000 repeat;
}

.header {
    margin-bottom: 25px!important;
    border-bottom: 1px dotted #fff;
}

.navbar {
    margin: 50px 0 0 0;
    font-size: 1.25em;
}

.navbar-inverse {
    background: #000!important;
}

.navbar-toggle {
    color: #fff;
    border: none;
    margin-top: 1.5em;
}

.navbar-nav {
    font-weight: 300;
    margin-top: 1.25em;
}

.navigation {
    background: black;
    color: white;
}

.navbar div {
    text-align: center;
}

h1, h2 {
    font-weight: 400;
}

.panel {
    height: 100%;
    color: #666;
    border: none;
    border-radius: 0;
    background: #FEFEFA;
    padding: 1em 2em;
    margin: 0;
    font-size: 1.25em;
}

.panel > .panel-heading {
    background-color: inherit;
    border-bottom: 1px dotted black;
    padding: 0.5em 0 1em 0;
}

.panel-title {
    font-size: 1.1em;
}

.panel-body {
    font-family: "Cardo", serif;
    padding: 1em 0;
}

.row {
    margin-bottom: 10px;
}

.row .row {
    margin-bottom: 0;
}

.img-post {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.img-title {
    position: absolute;
    top: 50%;
    margin-top: -1em;
    color: #fefefe;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    z-index: 1000;
}

.img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    z-index: 20;
    opacity: 0.25;
}

.first .img-post ~ .img-title {
    font-size: 4em;
}

.img-responsive {
    min-width: 100%;
    height: 100%;
    max-width: none;
}

.first [class^="col"] {
    height: 400px;
}

[class^="col-xs"] {
    height: 400px;
    overflow: hidden;
}

[class^="col-sm"] {
    padding: 0 5px;
}

.dual .col-xs-6:first-child {
    padding-right: 0;
}

.dual .col-xs-6:last-child {
    padding-left: 0;
}

.footer {
    margin-top: 25px;
    border-top: 1px dotted #fff;
}

